<!DOCTYPE html>
<html id="index">
    <head>
        <title>Campground Snob</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Open+Sans:300,400,600|Yellowtail" rel="stylesheet"> 
        <link rel="stylesheet" href="../dist/stylesheets/main.css" />
    </head>
    <body>
    
    <div class="navigation blur-effect not-blurry">
        <div class="container-third1 blur-effect not-blurry">
            <a class="logo-link" tabindex="0" href="/campgrounds">
                <div class="logo">
                    <div class="campground"><h1>Campground</h1></div>
                    <div class="quarter-width">
                        <div class="snob"><h1>Snob</h1></div></h1>
                    </div>
                </div>
            </a>
        </div>
        
    <!--Flash alert Success-->   
        <div class="container-third2 blur-effect not-blurry "> 
            <% if(success && success.length > 0) { %>
                 <div class="alert alert-success" role="alert">
                    <%= success %>    
                </div>
            <% }; %>
        </div> 
    <!--Flash alert Success-->
        
        <div class="container-third3 blur-effect not-blurry">
            <nav class="index-nav">
                <ul class="nav navbar-nav navbar-right">
                        <li><a tabindex="0" href="#">About Us</a></li>
                    <% if(!currentUser) { %>
                        <li><a tabindex="0" href="/login">Log In</a></li>
                        <li><a class="hello right-li" tabindex="4" href="#">Become a Campground Snob</a></li>
                    <% } else { %>
                        <li><a tabindex="0" href="/campgrounds/new">Rate Your Last Trip</a></li>
                        <li class="signed-in-as">Signed In As <span class="username"><%= currentUser.username %></span></li>
                        <li><a tabindex="0" href="/logout">Log Out</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>

<div class="acct-for-abs-positioning">
    <div class="hero-background1 blur-effect not-blurry"></div>
</div>
    
<% if(!currentUser) { %>    
    <aside id="sliding-aside" class="aside">
        <div id="sliding" class="half-width-left">
            <p>That camping trip was</p>
            <div class="fire">
            </div>
            <a class="btn btn-primary btn-large" tabindex="0" href="/campgrounds/new">Tell us about it!</a>
        </div>
            <div class="half-width-right">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error + '. Please try another username.' %>    
                    </div>
                <% } else { %>
                    <p>Join Our Ecosystem</p>
                <% } %>
                <form id="aside-form" class="aside-form" action="/register" method="POST">
                    <input class="hello" tabindex="0" type="text" name="username" placeholder="Username">
                    <input class="hello" tabindex="0" type="password" name="password" placeholder="Password">
                    <input id="terms-checkbox" class="hello" type="checkbox" tabindex="0">
                    <label for="terms-checkbox">I have read and agree to the <a href="#" id="terms-and-conditions" tab-index="0">terms and conditions</a>.</label>
                    <button class="hello btn btn-primary btn-large" tabindex="0">Become a Campground Snob!</button>
                </form>
                <i id="dismiss" class="invisible fa fa-angle-right" aria-hidden="true" tabindex="0"></i>
            </div>
    </aside>
<% } else { %>
    <aside id="sliding-aside" class="collapsed-logged-in">
        <div id="sliding" class="half-width-left">
            <p>That camping trip was</p>
            <div class="fire">
            </div>
            <a class="btn btn-primary btn-large" tabindex="0" href="/campgrounds/new">Tell us about it!</a>
        </div>
    </aside>    
<% } %>


    <main class="blur-effect not-blurry">
        <h3>Recently Added Campgrounds</h3>
        <div id="masonry">
            <% campgrounds.forEach(function(campground) { %>
                <div class="item grid-sizer">
                    <a href="/campgrounds/<%= campground._id %>">
                        <img src="<%= campground.image %>">
                        <div class="caption">
                            <h4><%= campground.name.substring(0,35) %></h4>
                            <p class="description"><%= campground.description.substring(0, 110) + "..." %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </main>

<!--<script type="text/javascript" language="javascript" src="./dist/scripts/aside.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="./dist/scripts/masonry.pkgd.min.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="./dist/scripts/masonry-init.js"></script>-->

<script type="text/javascript" language="javascript" src="./dist/scripts/scripts.js"></script>
<% include ../partials/footer %>